.centered {position: fixed; top: 50%; left: 50%;
    /* bring your own prefixes */
     transform: translate(-50%, -50%); text-align: center;}
.cor{background-color:#d78888}
.grp{text-align: center;}

body{
 background-color: #d78888;
}


h1{
 color:#330345 ;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


p{
    color:#330345 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label{
 color:#330345 ;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
